<footer class="footer">
    <div class="col">
      <h4>Website</h4>
      <a routerLink="/">Home</a>
      <a routerLink="/register">Register</a>
      <a routerLink="/admin-login">Admin Login</a>
    </div>
    <div class="col">
      <h4>Contact</h4>
      <p>Email: support@grocerymt.com</p>
      <p>Phone: +1-234-567-890</p>
    </div>
    <div class="col">
      <h4>Address</h4>
      <p>123 Market St,<br/>City, Country</p>
    </div>
    <div class="col copy">
      &copy; 2025 GroceryMart
    </div>
  </footer>
  
  