<nav class="navbar">

  <div class="logo"><a href="home.component.html" style="text-decoration:none;color: #fff;"> Grocery<span>Mart</span></a>
  </div>
  <!-- <input type="text" placeholder="Search groceries..." /> -->
  
  <!-- <div class="search-container">
      <input type="text" placeholder="Search groceries..." />
      <button type="submit">
        <i class="fa fa-search" style="color: white;"></i>
      </button>
    </div> -->

  <div class="links">
    <a routerLink="/register">Register</a>
    <!-- <a routerLink="/login-selection">Login</a> -->
  </div>
</nav>
<div class="login-selection">
  <h2>Login As</h2>
  <a routerLink="/user-login" class="btn">User</a>
  <a routerLink="/admin-login" class="btn">Admin</a>
</div>
<!-- <app-footer></app-footer>  -->