
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #437057;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
  border-radius: 5px;
}
.navbar .logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin-left: 1rem;
}
.navbar .logo span {
  font-weight: bold;
}

.navbar .search-container {
  display: flex;
  align-items: center;
  background: #557e67;
  border: solid white 2px;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px;
  margin-right: -600px;
}
.navbar .search-container input {
  border-radius: 1rem;
  width: 300px;
  height: 20px;
  padding-left: 15px;
  border: none;
  background-color: #557e67;
}
.navbar .search-container input::placeholder {
  color: white;
}
.navbar .search-container button {
  background-color: #557e67;
  border: none;
}

.navbar .search-container button {
  width: 15%;
  height: 30px;
}

.navbar .links a {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar .links {
  padding-right: 20px;
}




.login-selection {
  text-align: center;
  margin-top: 120px;
  height: 250px;
}
.login-selection .btn {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #557e67;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
}
.login-selection .btn:hover{
  background-color: #437057;
}
.login-selection a{
  text-decoration: none;
}
/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #4caf50;
  color: white;
}
.navbar .logo span {
  font-weight: bold;
}
.navbar input {
  width: 40%;
  padding: 0.5rem;
}
.navbar .links a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
} */
