.hero {
  text-align: center;
  padding: 2rem;
  background-color: #b3c5bb;
  color: #21382b;
  text-align: center;
  height: 370px;
  background-image: url("../../data/hero_section3.jpg");

  background-size: cover;
  background-size: 100% 470px;
  /* background-repeat: no-repeat; */
}

/* .hero {
    background-image: url('herosec\ \(3\).jpeg');
    background-size:cover;
    text-align: center;
    padding: 7rem 2rem;
} */
.hero h1 {
  font-size: 65px;
  padding-top: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero p {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -3rem;
  font-weight: 600;
}

.hero .cta-button {
  display: inline-block;
  /* background-color: #21382b; */
  background-color: #437057;
  color: white;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.hero .cta-button:hover {
  background-color: #21382b;
}
.products {
  background-color: #d9e2dd;
  margin-top: -1.6rem;
  height: 500px;
  text-align: center;
  align-items: center;
}
.products h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 3rem;
  font-size: 30px;
  color: #21382b;
  text-decoration: underline;
}
.products .grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 2rem;
  padding: 0 2rem;
  /* gap: 1rem; */
  /* padding: 1rem; */
  text-align: center;
  justify-content: center;
  /* align-items: center; */
}
.card {
    background-color: #2e4e3c;
  /* border: 1px solid rgb(226, 45, 45); */
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  align-items: center;
}
.card img {
  max-width: 100%;
  height: auto;
  max-width: 250px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 3px solid #ddd;
}

/* .feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 0 2rem;
} */

/* .feature-card {
  text-align: center;
  padding: 1rem;
} */
/* 
.feature-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
} */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #437057;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
  border-radius: 5px;
}
.navbar .logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin-left: 1rem;
}
.navbar .logo span {
  font-weight: bold;
}

.navbar .search-container {
  display: flex;
  align-items: center;
  background: #557e67;
  border: solid white 2px;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px;
  margin-right: -600px;
}
.navbar .search-container input {
  border-radius: 1rem;
  width: 300px;
  height: 20px;
  padding-left: 15px;
  border: none;
  background-color: #557e67;
  outline: none;
}
.navbar .search-container input::placeholder {
  color: white;
}
.navbar .search-container button {
  background-color: #557e67;
  border: none;
}

.navbar .search-container button {
  width: 15%;
  height: 30px;
}

.navbar .links a {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar .links {
  padding-right: 20px;
}
