<nav class="navbar">

  <div class="logo"><a href="home.component.html" style="text-decoration:none;color: #fff;"> Grocery<span>Mart</span></a>
  </div>
  <!-- <input type="text" placeholder="Search groceries..." /> -->
  
  <div class="search-container">
      <input type="text" placeholder="Search groceries..." />
      <button type="submit">
        <i class="fa fa-search" style="color: white;"></i>
      </button>
    </div>

  <div class="links">
    <a routerLink="/register">Register</a>
    <a routerLink="/login-selection">Login</a>
  </div>
</nav>
<section class="hero">
    <h1>Welcome to GroceryMart</h1>
    <p>Your Grocery Store's New Best Friend.</p>
    <a href="/register" class="cta-button">Get Started</a>
  </section>
  <section class="products">
    <h2>Featured Products</h2>
    <div class="grid">
      <div class="card" >
        <img src="../../../assets/images/apple.jpg" alt="alt" />
        <h3>Pineapple</h3>
        <p>gmsdbkjsbkfbj</p>
      </div>
      <div class="card">
        <img src="../../../assets/images/apple.jpg" alt="alt" />
        <h3>Apple</h3>
        <p>gfhggkjhklghdf</p>
      </div>
      <div class="card">
        <img src="../../../assets/images/apple.jpg" alt="alt" />
        <h3>Mango</h3>
        <p>ggjghkghkgh</p>
      </div>
       
    </div>
  </section>