
<!-- <app-navbar [showSearch]="false" [showBack]="true" (backClick)="back()"></app-navbar> -->
<nav class="navbar">
  <div class="logo"><a href="home.component.html" style="text-decoration:none;color: #fff;"> Grocery<span>Mgmt</span></a></div>

  <input type="text" placeholder="Search groceries..." />
  <div class="links">

    <a routerLink="/">Logout</a>
  </div>
</nav>

<div class="invoice">
  <h2>Invoice</h2>
  <p>Order #: {{ orderId }}</p>
  <p>Date: {{ date | date:'medium' }}</p>
  <table>
    <thead><tr><th>Item</th><th>Qty</th><th>Price</th></tr></thead>
    <tbody>
      <tr *ngFor="let i of items">
        <td>{{ i.title }}</td><td>{{ i.quantity }}</td><td>$ {{ (i.price*i.quantity).toFixed(2) }}</td>
      </tr>
    </tbody>
    <tfoot><tr><td colspan="2">Total</td><td>$ {{ total.toFixed(2) }}</td></tr></tfoot>
  </table>
  <p>Delivery Address:</p>
  <p>{{ address }}</p>
</div>

