.footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background: #21382b;
  color: #ddd;
}
.footer .col h4 {
  margin-bottom: 0.5rem;
}
.footer .col a,
.footer .col p {
  display: block;
  margin-bottom: 0.25rem;
  text-decoration: none;
  color: #ddd;
}
.footer .copy {
  align-self: center;
}
